name: Release
on:
  push:
    branches:
      - 'master'
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        os: [ windows, macos, ubuntu ]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Run
        id: test
        uses: ./
        with:
          secrets: ${{ toJson(secrets) }}
      - name: Check that the output makes sense
        shell: bash
        run: '[ -n "${{ steps.test.outputs.has-secrets }}" ]'
  release:
    needs:
      - test
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install Semantic Release
        run: npm install
      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
  success:
    runs-on: ubuntu-24.04
    needs:
      - release
      - test
    if: >-
      always() && (
        contains(join(needs.*.result, ','), 'failure')
        || !contains(join(needs.*.result, ','), 'cancelled')
      )
    steps:
      - name: Verify that there were no failures
        run: ${{ !contains(join(needs.*.result, ','), 'failure') }}
